# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
!/public
/public/*
!/public/o
!/public/favicon.ico
!/public/og-image.jpg
!/public/iframe-chatbot.html
!/public/pricing.html
.DS_Store
