:root {
  font-size: 12px;
  transition: font-size 0.3s 0s ease-in-out;
  -webkit-transition: font-size 0.3s 0s ease-in-out;
}
@media screen and (min-width: 481px) {
    :root {
        font-size: 13px;
    }
}
@media screen and (min-width: 961px) {
    :root {
       font-size: 14px;
    }
}
@media screen and (min-width: 1281px) {
    :root {
        font-size: 15px;
    }
}
body {
    background-color: transparent;
}
.crb#talkpush-bot .tp_title {
    display: none;
}
.crb#talkpush-bot ul.tp_dataText {
    height: auto;
    overflow: hidden;
    border: none;
    padding-top: 0;
    min-height: 150px !important;
}
.crb#talkpush-bot ul.tp_dataText li.tp_ChatItems .timestamp{
    color: #fff !important;
}
.crb#talkpush-bot ul.tp_dataText li.tp_ChatItems .tp_ChatFlex.left .bubble{
    border-radius: 3px !important;
    background-color: #fff !important;
    box-shadow: 0 0 10px #e800ff;
    padding: 1rem !important;
    font-size: 1rem !important;
}
.crb#talkpush-bot ul.tp_dataText li.tp_ChatItems .tp_ChatFlex.right .bubble{
    border-radius: 3px !important;
    background-color: #72de2f !important;
    box-shadow: 0 0 10px #72de2f;
    padding: 1rem !important;
    font-size: 1rem !important;
}
.crb#talkpush-bot ul.tp_dataText li.tp_ChatItems .tp_ChatFlex.left .image{
    background-color: #fff !important;
    box-shadow: 0 0 10px #e800ff;
}
.crb#talkpush-bot ul.tp_dataText li.tp_ChatItems .tp_ChatFlex.right .tp_initialsHolder{
    background-color: #72de2f !important;
    box-shadow: 0 0 10px #72de2f;
}
.crb#talkpush-bot .tp_typingDotHolder{
    border-radius: 3px !important;
    box-shadow: 0 0 10px #e800ff;
    background-color: #fff !important;
}
.crb#talkpush-bot .tp_typingFeedbackContent img{
    box-shadow: 0 0 10px #e800ff;
}
.crb#talkpush-bot .tp_body {
    z-index: 10;
    border: 0;
    background-color: transparent;
    margin-bottom: 1rem !important;
}
.crb#talkpush-bot .tp_body textarea{
    background-color: rgba(255,255,255,.2) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #ccc !important;
    padding: 1rem !important;
    color: #fff !important;
    font-size: 1rem !important;
}
.crb#talkpush-bot .tp_body button{
    color: #fff !important;
    border: 0 !important;
    box-shadow: 0 0 10px #72de2f !important;
    background-color: #72de2f !important;
    padding: 1rem 2rem !important;
    text-transform: lowercase !important;
    font-size: 1rem !important;
    margin-left: 2rem !important;
}
.crb#talkpush-bot .tp_typingFeedbackContent {
    width: 100%;
    padding: 10px;
}
.crb#talkpush-bot .tp_box{
    background-color: transparent;
}