@import '../mixins/mixins';
.block {
    &Header {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        background-image: url(../pages-images/our-style/header.jpg);
        padding-top: 45%;
        background-color: #000;
    }
}