@import '../../../mixins/mixins';
.block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    background-image: url(../../../images/grid-bg.png);
    color: #fff;
    padding: 10rem 0;
    h2 {
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 100;
        text-align: center;
        display: block;
    }
    h4 {
        font-size: 1.5rem;
        display: block;
        max-width: 50rem;
        text-align: center;
        margin: 1rem auto;
    }
    &Divider {
        @include display-flex;
        &Item {
            text-align: center;
            @include flex(1);
        }
    }
}
