@import '../../../mixins/mixins';
.block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    background-image: url(../../../images/grid-bg.png);
    color: #fff;
}
