@import '../../../mixins/mixins';
.block {
    height: 100vh;
    background-color: #000;
    color: #fff;
    @include display-flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/background.jpg);
}

.fill {
    &Left {
        @include flex(1);
        background-color: $semi-black-75;
    }
    &Right {
        @include flex(1);
    }
}
.content {
    width: 980px;

    @include display-flex;
    &Left {
        background-color: $semi-black-75;
        max-width: 500px;
        width: 100%;
        @include display-flex;
        @include align-items-center;
        &Content{
            @include flex(1);
            padding-right: 2rem;
            h1 {
                font-size: 4rem;
                line-height: 4.2rem;
                font-weight: 100;
            }
            p {
                color: #999;
                margin: 0;
                padding: 2rem 0;
            }
        }
    }
    &Right {
        @include flex(1);
    }
}
.bigButtonHolder {
    text-transform: lowercase;
    padding-bottom: 2rem;
    a {
        background-color: $semi-theme-25;
        display: block;
        &:hover,
        &:focus {
            background-color: $semi-theme-50;
        }
    }
    i {
        margin-right: .5rem;
    }
}
.otherButtonHolder {
    @include display-flex;
    text-transform: lowercase;
    a {
        @include flex(1);
        background-color: rgba(255, 255, 255, .25);
        &:nth-child(1) {
            margin-right: .5rem;
        }
        &:nth-child(2) {
            margin-left: .5rem;
        }
        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, .5);
        }
    }
    img {
        vertical-align: bottom;
        height: 1rem;
        line-height: 1rem;
        margin-right: .5rem;
    }
}