// Colors
$theme: #72de2f;
$purple: #e800ff;
$semi-theme-10: rgba(114, 222, 47, .1);
$semi-theme-25: rgba(114, 222, 47, .25);
$semi-theme-50: rgba(114, 222, 47, .5);
$semi-theme-75: rgba(114, 222, 47, .75);
$semi-black-25: rgba(0, 0, 0, .25);
$semi-black-50: rgba(0, 0, 0, .5);
$semi-black-75: rgba(0, 0, 0, .75);

// Breakpoints
$break-smallest: 320px;
$break-smaller: 481px;
$break-small: 641px;
$break-medium: 961px;
$break-large: 1025px;
$break-larger: 1281px;

// Cross Browser Compatibility
@mixin prefix($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
}

// Flex Code Shortcut
@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($value) {
  -webkit-box-flex: $value;
  -ms-flex: $value;
  flex: $value;
}

@mixin align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}